$yellow: #FFBA6B;
$white: #ffffff;
$white-dim: #FAFAFA;
$red: #FF7474;
$gray: #8E8E8E;
$gray-dark: #535353;
$blue: #75D9FF;
$green: #65EC96;

@mixin shadow() {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .09);
}

.red {
  background-color: $red !important;
}

.blue {
  background-color: $blue !important;
}

.green {
  background-color: $green !important;
}

.white {
  background-color: $white !important;
}

.gray-fill {
  fill: $gray-dark !important;
}